.create-room {
    margin-left: 2.5%;
}
.create-input {
    margin-right: 20px;
    width: 20%;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    border:none;
    border-bottom: 2px solid rgb(171, 171, 171);
    padding: 5px 10px;
    outline: none;
}
.room-list {
    /* margin-top: 5%; */
    margin-left: 10%;
}

.available {
    margin-left: 10%;
}
.list-style {
    margin-top: 59px;
  list-style: none;
  font-weight: bold;
  width: 20%;
  height: 90px;
  margin-bottom: 50px;
  border-radius: 30px;
  padding-left: 10%;
  padding-top: 35px;
  font-size: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.list-style:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.create-button {
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    /* border: 2px solid rgba(255, 255, 255, 0.8); */
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    box-sizing: border-box;
}

.create-button:hover {
    transform: scale(1.03);
}