.app {
    display: flex;
    padding: 40px;
    width: 730px;
    margin-left: 33%;
    margin-top: 3%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .game {
    z-index: 1;
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .game img {
    width: 70px;
    height: 70px;
  }
  
  .score-board {
    margin-left: 80px;
    background-color: red;
    color: white;
    width: 40px;
    height: 50px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    background: rgba(152, 107, 252, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid rgba(0, 0, 0, 0.3);
  }
  