.friends-container {
  background: rgba(255, 255, 255, 0.795);
  border: solid rgb(172, 248, 232);
  border-radius: 12px;
  padding: 5px;
  width: 11%;
  max-height: 50vh;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin-right: 10px;
}

.add-friend {
  display: flex;
}
.myself {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 2px;

}
.myself-name {
  font-weight: bolder;
  margin-top: 2.5px;
}
.user-icon {
  margin: 5px 6px 0 25px;
}
.icon {
  margin: 5px 6px 0 15px;
}

.add-friend input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.add-friend button {
  margin-top: 3.5px;
  padding-top: 1px;
  display: flex;
  height: 22.5px;
}
.add-friend button :hover {
  opacity: 1;
}
.friends-container ul {
  list-style-type: none;
  overflow-y: auto;
  margin-left: -5px;
}

.friends-container li {
  display: flex;
}
.friends-container li :hover {
  background-color: #ddd;
}

.divider {
  border: none;
  border-bottom: 2px solid rgb(56, 56, 56);
  margin-top: 6px;
  margin-left: 10px;
  width: 90%;
}

.friends-container ::-webkit-scrollbar {
  width: 8px;
}

.friends-container ::-webkit-scrollbar-track {
  background: #f1f1f1;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.friends-container ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.friends-container ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.online-username {
  font-weight: bold;
}

.online-room{
  margin-left: 10px;
  margin-bottom: 5px;
  border: 1px solid rgb(21, 255, 177);
  border-radius: 10px;
  background-color: aquamarine;
  padding: 2px;
  font-size: 15px;

}
