.friends-container {
  background: rgba(255, 255, 255, 0.795);
  border: solid rgb(172, 248, 232);
  border-radius: 12px;
  padding: 5px;
  width: 12%;
  max-height: 50vh;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin-right: 10px;
}

.add-friend {
  display: flex;
}
.myself {
  display: flex;
  margin-top: 10px;
}
.icon {
  margin: 5px 6px 0 15px;
}
.add-friend input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.add-friend button {
  margin-top: 3.5px;
  padding-top: 1px;
  display: flex;
  height: 22.5px;
}
.add-friend button :hover {
  opacity: 1;
}
.friends-container ul {
  list-style-type: none;
  overflow-y: auto;
}

.friends-container li {
  display: flex;
}
.friends-container li :hover {
  background-color: #ddd;
}

.divider {
  border: none;
  border-bottom: 2px solid rgb(56, 56, 56);
  margin-top: 6px;
  margin-left: 10px;
  width: 90%;
}
