.ring-container {
    position: absolute;
    margin-top: 6.5px;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: #62bd19;
    border-radius: 50%;
    position: absolute;
}

/* .ringring {
    border: 3px solid #62bd19;
    -webkit-border-radius: 30px;
    height: 10px;
    width: 10px;
    position: absolute;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
} */
/* @-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
} */